# Copy to a local env file if you don't want to export variables inline.

GATEWAY_URL=http://localhost:8090
SMOKE_USERNAME_PREFIX=smoke
SMOKE_PASSWORD=password
SMOKE_TOPUP_AMOUNT=100
SMOKE_ORDER_AMOUNT=28.00
SMOKE_BUSINESS_ID=1
SMOKE_FOOD_ID=1
SMOKE_CONTACT_NAME=Smoke User
SMOKE_CONTACT_SEX=1
SMOKE_CONTACT_TEL=18800000000
SMOKE_ADDRESS=TJU Smoke Address
SMOKE_REVIEW_STARS=5
SMOKE_REVIEW_CONTENT=smoke review
SMOKE_ADMIN_USERNAME=admin
SMOKE_ADMIN_PASSWORD=123456