@use 'variables' as *;
@use 'element-plus' as *;
@use 'layouts' as *;

// -----------------------------------------------------------------------------
// Global Styles & Resets
// -----------------------------------------------------------------------------

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-family-body;
  background-color: $bg-light;
  color: $text-primary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.6;
}

#app {
  width: 100%;
  min-height: 100vh;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-headings;
  font-weight: $fw-bold;
}

h1 { font-size: $fs-h1; }
h2 { font-size: $fs-h2; }
h3 { font-size: $fs-h3; }

p {
  font-size: $fs-body;
  font-weight: $fw-regular;
}
